# Data Handling

### Working of open() function
 There are kinds of mode, that Python provides and how files can be opened:
1. “ r “, for reading.
2. “ w “, for writing.
3. “ a “, for appending.
4. “ r+ “, for both reading and writing

In [25]:
file = open('mytext.txt', 'r')
for i in file:
    print (i)

Hello I am TanushreeI am pursuing my graduation from Jaypee University AnoospshahrThis will add this lineThis will add this lineThis will add this lineHi, thereHi, there Tanushree HereHi, there!!!

In [26]:
file = open("mytext.txt", "r") 
print(file.read())

Hello I am TanushreeI am pursuing my graduation from Jaypee University AnoospshahrThis will add this lineThis will add this lineThis will add this lineHi, thereHi, there Tanushree HereHi, there!!!

In [27]:
file = open("mytext.txt", "r")
print (file.read(10))

Hello I am

In [28]:
file = open('mytext.txt','w')
file.write("Hello I am Tanushree")
file.write("I am pursuing my graduation from Jaypee University Anoospshahr")
file.close() #The close() command terminates all the resources in use and frees the system of this particular program.

### Working of append() mode

In [29]:
file = open('mytext.txt','a')
file.write("Hi, there!!!")

12

In [30]:
with open("mytext.txt") as file:  
    data = file.read()

In [32]:
with open("file.txt", "w") as f: 
    f.write("Hello!!!")

### Using write along with with() function

In [33]:
with open("file.txt", "w") as f: 
    f.write("Hey!!!")

# Database Connectivity

Python database is portable, and the program is also portable so both can give an advantage in case of portability

It is an interface for associating the SQL database server from Python and uses the DB-API of Python to work.

In [50]:
import sqlite3

In [52]:
conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

In [55]:
conn = sqlite3.connect('test.db')
print("Opened database successfully")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print("Operation done successfully")
conn.close()

Opened database successfully
Operation done successfully

In [61]:
#update Operation
conn = sqlite3.connect('test.db')
print ("Opened database successfully")

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit
print( "Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows updated : 0
Operation done successfully

from mysql.connector import (connection)

#establishing the connection
conn = connection.MySQLConnection(user='root', password='password', host='127.0.0.1', database='mydb')

#Closing the connection
conn.close()